{% extends 'base.html' %}
{% block title %}
  About
{% endblock title %}
{% block nav-about %}active{% endblock nav-about %}
{% block body %}
<div class="container py-4">
<div class="h-100 p-5 bg-light border rounded-3">
          <h1>About Us</h1>
          <h3>CookBook is community of food lovers where foodies can share their recipes and explore the recipes which has written by people who eats food not only out of hunger but also as a hobby from all over the world.</h3>
          
        </div>
</div>
{% endblock body %}